body {
  background-color: #F4F5C3;
  margin: 0px;
}

header {
  display: flex;
  background-color: #D9D9D9;
}

form {
  width: 100%;
}

textarea {
  width: 100%;
  height: 340px;
  padding: 8px; 
  border-style: none;
  margin-top: 8px;
  margin-bottom: 8px;
}

button {
  float: right;
  margin: 0px;
  background-color: #D9D9D9;
  color: #000;
  border-radius: 25px;
  border-style: none;
  padding: 8px 16px;
}

.header-div {
  display: flex;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  padding-top: 250px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0, 0.4);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  cursor: pointer;
  color: #000;

}

#modal-body {
  background-color: #D9D9D9;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

#header-container {
  display: flex;
  width: 900px;
  margin: auto;
}

#header-nav {
  display: none;
}

#generator-section {
  display: block;
  width: 900px;
  margin: auto;
}

#form-section {
  display: flex;
  width: 900px;
}

@media only screen and (max-width: 1000px) {
  #header-container {
    width: 500px;
  }
  #generator-section {
    width: 500px;
  }
  #form-section {
    width: 500px;
  }
}
@media only screen and (max-width: 580px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 16px;
  }
  p {
    font-size: 12px;
  }
  textarea {
    height: 150px;
  }
  label {
    font-size: 12px;
  }
  button {
    font-size: 8px;
  }
  #header-container {
    width: 300px;
  }
  #generator-section {
    width: 300px;
  }
  #form-section {
    width: 300px;
  }
}